.section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 5vh 0;
}

.section:nth-of-type(2n) div:last-of-type,
.section:nth-of-type(2n + 1) div:first-of-type {
  margin-top: 2rem;
}

.section:nth-of-type(2n):first-child,
.section:nth-of-type(2n):last-child {
  width: 100px;
}

.section p {
  margin-top: 1.25rem;
}

.section img {
  width: 100%;
  margin-top: 10rem;
}

@media screen and (min-width: 768px) {
  .section {
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
  }
  .section:nth-of-type(2n) {
    flex-direction: row;
  }

  .section:nth-of-type(2n + 1) {
    flex-direction: row-reverse;
  }

  .section img {
    width: 50%;
    margin-top: 0;
  }
}
