@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply flex justify-center items-center w-full h-full;
  }

  .section-type2 {
    @apply flex flex-col justify-between items-center min-h-[60vh] mt-[40vh] mb-[40vh];
  }

  .w-main {
    @apply w-[80%] mx-auto sm:w-[85%] md:w-[85%] xl:w-[85%] 2xl:w-[70%];
  }

  .mar-right {
    @apply mr-[2rem] md:mr-[8rem];
  }

  .space {
    min-width: 5%;
  }
}

@layer base {
  @font-face {
    font-family: "Iran Yekan";
    font-weight: 400;
    src: url("../public/assets/fonts/IRANYekan/iranyekanwebregularfanum.woff");
  }

  @font-face {
    font-family: "Iran Yekan";
    font-weight: 700;
    src: url("../public/assets/fonts/IRANYekan/iranyekanwebboldfanum.woff");
  }

  @font-face {
    font-family: "Iran Yekan";
    font-weight: 800;
    src: url("../public/assets/fonts/IRANYekan/iranyekanwebextraboldfanum.woff");
  }

  @font-face {
    font-family: "Helvetic Neue";
    font-weight: 700;
    src: url("../public/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Bold.otf");
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
  font-family: "Iran Yekan";
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  max-width: 400px;
  color: #404040;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  max-width: 390px;
  color: #404040;
}

p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 420px;
  color: #404040;
}

img {
  user-select: none;
}

.try-replai {
  font-weight: 800;
}

/* 
  -- html for mobile size
@media screen and (max-width: 640px) {
  html {
    font-size: 12px;
  }
} 
*/

@media screen and (min-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1560px) {
  html {
    font-size: 20px;
  }
  h1 {
    max-width: 600px;
  }
}
